
*{

    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

/*-----------------------------------------CABECERA------------------------------------------*/

header{
    background-image: url(../img/blue-flowers-with-macro-4-1400913-1920x1440.jpg);
    background-repeat: none;
    background-size: cover;
    background-position: center center;
    width: auto;
    height: 100vh;
    color: white;

}

nav{
    width: auto;
    height: 40px;
    padding-top: 20px ;
    text-align: left;
    background: black;

}

.nav-boton{

    margin-top: 30px;
    padding: 10px 50px;
    background: black;
    color: white;
    text-decoration: none;
}
.nav-boton:hover{
    background: yellow;
    color: black;
}

h1{
    width: 200px;
    height: auto;
    padding: 300px 50px;
    text-align: left;
    font-size: 600%; 
}


/*-------------------------------------------SECCION---------------------------------------------*/

.seccion{
    width: auto;
    height: 100vh;
}

article{
    width: 200px;
    height: 300px;
    
}






/*-----------------------------------------PIE-DE-PAGINA------------------------------------------*/

.footer{
    width: auto;
    height: 50vh;
}



