
*{
    list-style: none;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    
}

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    display: none;
}

/*-----------------------------------------CABECERA------------------------------------------*/

.cabecera{
    background: url(../img/11160.jpg ) no-repeat center fixed;
    background-size: cover;
    width: auto;
    height: 100vh;
    color: white;
    
}



.navegacion{
    width: 100%;
    height: 45px;
    padding-top: 5px ;
    text-align: left;
    background: black;

}

.nav-boton{
    padding: 10px 50px;
    background: black;
    color: white;
    text-decoration: none;
    display: block;
    float: left;
    transform: scale(0.95);
    transition: all 200ms ease-out;

}


.nav-boton:hover{
    background: gray;
    color: white;

    transform: scale(1);
    transition: all 200ms ease-out;
}

h1{
    width: 60rem;
    height: 6rem;
    margin-top: 3rem ;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem ;
    text-align: left;
    font-size: 500%; 
    color: ffffff;
    text-align: center;
    backdrop-filter: blur(6px);
    border: 3px solid gray;
    
}


/*-------------------------------------------SECCION---------------------------------------------*/

h3{
    margin-top: 5rem;
    margin-left: 15rem;
    text-align: left;
}

#seccion1 .container{
    border: 1px solid red;
    margin-right: auto;
    margin-left: auto;
    width: auto;
    height: 100vh;
    text-align: center;
}

#seccion2 .container{
    border: 1px solid red;
    align-content: center;
    width: auto;    
    height: 100vh;
    text-align: center;
}

.article-content{
    display: inline-block;
    width: 250px;
    height: 300px;
    margin-top: 5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    border: 1px solid red;

    cursor: pointer;
    transform: scale(0.95);
    transition: all 400ms ease-out;

}

.article-content:hover{

    transform: scale(1);
    transition: all 200ms ease-out;
}

.target-text{
    border: 1px solid red;
}


.target-footer{
    margin-top: 1rem;
    text-align: left;
    border: 0.5px solid rgb(216, 212, 212);
    background: rgb(240, 233, 233);

    clear: both;
}

.img-article{
    width: 250px;
}

h4{
    margin-top: 1rem;
    margin-bottom: 1rem;
    
}
/*-----------------------------------------PIE-DE-PAGINA------------------------------------------*/

.footer{
    width: auto;
    height: ;
    background: rgb(78, 76, 76);
    color: white;
}

.footer{
    clear: both;
}

.footer-form{
    padding-top: 30px;
    margin-left: 50px;
    margin-bottom: 50px;
}

.contacto{
    width: 100%;
    height: 4rem;
    background: black;
    padding: 15px;
    padding-top: 3rem;
    
}

.boton-footer{
    background: black;
    color: white;
    margin-top: 20px;
    padding: 10px 30px;
    text-decoration: none;

    transform: scale(0.95);
    transition: all 200ms ease-out;
}

.boton-footer:hover{
    background: gray;
    color: white;

    transform: scale(1);
    transition: all 200ms ease-out;
}

.fa-brands {
    font-size: 100px;
    background: white;
    color:black;
}


