
*{
    list-style: none;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    
}

/*-----------------------------------------CABECERA------------------------------------------*/

.cabecera{
    background-image: url(../img/blue-flowers-with-macro-4-1400913-1920x1440.jpg);
    background-repeat: none;
    background-size: cover;
    background-position: center center;
    width: auto;
    height: 100vh;
    color: white;

}

.navegacion{
    width: auto;
    height: 50px;
    padding-top: 20px ;
    text-align: left;
    background: black;
    
}

.nav-boton{
    padding: 10px 50px;
    background: black;
    color: white;
    text-decoration: none;
    display: block;
    float: left;
}

.nav-boton:hover{
    background: yellow;
    color: black;
}



h1{
    width: 200px;
    height: auto;
    padding: 300px 50px;
    text-align: left;
    font-size: 600%; 
}


/*-------------------------------------------SECCION---------------------------------------------*/

.novedades{
    width: auto;
    height: 100vh;
    
}



img{
    width: 400px;
}
/*-----------------------------------------PIE-DE-PAGINA------------------------------------------*/

.footer{
    width: auto;
    height: 50vh;
}



